version: "3.8"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY: ${NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY}
    container_name: logoaipro
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      MONGODB_URI: ${MONGODB_URI}
      NEBIUS_API_KEY: ${NEBIUS_API_KEY}
      NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY: ${NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY}
      CLERK_SECRET_KEY: ${CLERK_SECRET_KEY}
      UPSTASH_REDIS_REST_URL: ${UPSTASH_REDIS_REST_URL}
      UPSTASH_REDIS_REST_TOKEN: ${UPSTASH_REDIS_REST_TOKEN}
      HELICONE_API_KEY: ${HELICONE_API_KEY}
      NEXT_PUBLIC_DEVELOPMENT_URL: ${NEXT_PUBLIC_DEVELOPMENT_URL}
    depends_on:
      - postgres
    networks:
      - backend

  

networks:
  backend:
    driver: bridge

