@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 259 13% 100%;
    --foreground: 259 5% 10%;
    --card: 259 13% 100%;
    --card-foreground: 259 5% 15%;
    --popover: 259 13% 100%;
    --popover-foreground: 259 95% 10%;
    --primary: 26 92% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 259 13% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 221 13% 95%;
    --muted-foreground: 259 5% 40%;
    --accent: 221 13% 90%;
    --accent-foreground: 259 5% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 259 5% 100%;
    --border: 259 20% 82%;
    --input: 259 20% 50%;
    --ring: 26 92% 50%;
    --radius: 1rem;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground antialiased;
    font-feature-settings: "ss01" on, "ss02" on, "cv01" on, "cv02" on;
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}
html {
  scroll-behavior: smooth;
}

html, body {
  overflow-x: hidden;
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: hsla(var(--muted-foreground) / 0.3);
  border-radius: 20px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: hsla(var(--muted-foreground) / 0.5);
}